<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkyVault - Admin</title>
</head>
<body>
    <h2>Account</h2>
    <ul>
        {% for acc in accounts %}
            <li>{{ acc.id }}, {{ acc.email }}, {{ acc.password }}, {{ acc.level }}</li>
        {% endfor %}
    </ul>

    <h2>Subscription</h2>
    <ul>
        {% for sub in subscriptions %}
            <li>{{ sub.id }}, {{ sub.plan }}, {{ sub.price }}</li>
        {% endfor %}
    </ul>

    <h2>Create New Subscription</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="plan" placeholder="Plan" required><br>
        <input type="number" name="price" placeholder="Price" required><br>
        <button type="submit">Create</button>
    </form>

    <br><a href="/">Sign Out</a>
</body>
</html>